<head><link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2"></head>
<template name="home">
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
  <div class="jumbotron jumbotron-fluid" id="hero1">
    <div class="container" id="jtext1">
      <br><br>
      <br><br>
      <br>
      <h2 id="jTextResize1">Find Your Personal Trainer</h2>
      <p id="jTextResize2">Your workout is a click away!</p>
      <a href="#hero2"><button class="btn btn-success btn-lg" value="Get Started">Get Started</button></a>
    </div>
  </div>
  <img class="heroOverlap" src="/dumbbell2.png">
  <div class="container" id="info">
    <div class="row">
      <div class="col-sm-4 text-center">
        <h2>Yoga</h2>
        <p>Whether beginner or advanced, we have the trainer for you!</p>
      </div>
      <div class="col-sm-4 text-center">
        <h2>Massage Therapy</h2>
        <p>Have your tensions pressed and rubbed away!</p>
      </div>
      <div class="col-sm-4 text-center">
        <h2>Physical Therapy</h2>
        <p>Rehabilitate your illnesses and injuries!</p>
      </div>
    </div>
    <div class="row text-center">
      <br><br>
      <br><br>
      <h1>Get the training you need, when you want it.</h1>
      <br><br>
      <a href="#hero2"><button class="btn btn-success btn-lg" value="Get Started">Get Started</button></a>
    </div>
  </div>
  <div class="jumbotron" id="hero2">
    <div class="container" id="jtext2">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
      <br><br>
      <br><br>
      <br>
      <h2 class="text-center" id="jTextResize1">Step 1:</h2>
      <p class="text-center" id="jTextResize2">Choose one of our qualified trainers</p>
      <p class="lowerText text-center">
        Enter your zipcode into the search bar at the top of our web page!
      </p>
    </div>
    </div>
    </div>
  </div>
  <div class="jumbotron" id="hero3">
    <div class="container" id="jtext2">
      <div class="row">
        <div class="col-sm-6">
      <br><br>
      <br><br>
      <br>
      <h2 class="text-center" id="jTextResize1">Step 2:</h2>
      <p class="text-center" id="jTextResize2">Schedule an appointment</p>
      <p class="lowerText text-center">
        After you've found your desired trainer, hit the schedule button located
        on their profile page!
      </p>
    </div>
    </div>
    </div>
  </div>
  <div class="jumbotron" id="hero4">
    <div class="container" id="jtext2">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
      <br><br>
      <br><br>
      <br>
      <h2 class="text-center" id="jTextResize1">Step 3:</h2>
      <p class="text-center" id="jTextResize2">We will make sure you meet your goals</p>
      <p class="lowerText text-center">
        Our trainers will help you develop a program that will lead to success.
      </p>
    </div>
    </div>
    </div>
  </div>
</template>
