<template name="home">
  <div class="jumbotron jumbotron-fluid">
    <div class="container" id="jtext">
      <br><br>
      <br><br>
      <br>
      <h2>Find Your Personal Trainer</h2>
      <p>Your workout is a click away!</p>
      <button type='button' class='btn btn-success btn-lg'>Get Started ></button>
      <!-- A quick workout, a click away -->
      <p class="lead"></p>
    </div>
  </div>
  <img class="heroOverlap text-center" src="/icircle.png">
  <div class="container" id="info">
    <div class="row">
      <div class="col-sm-4 text-center">
        <h2>Yoga</h2>
        <p>Whether beginner or advanced, we have the trainer for you!</p>
      </div>
      <div class="col-sm-4 text-center">
        <h2>Massage Therapy</h2>
        <p>Have your tensions pressed and rubbed away!</p>
      </div>
      <div class="col-sm-4 text-center">
        <h2>Physical Therapy</h2>
        <p>Rehabilitate your illnesses and injuries!</p>
      </div>
    </div>
    <div class="row text-center">
      <br><br>
      <br><br>
      <h1>Get the training you need, when you want it.</h1>
      <br><br>
      <button type='button' class='btn btn-success btn-lg'>Get Started ></button>
    </div>
  </div>
  <div class="container">
  </div>
</template>
