<template name="home">
  <div class="jumbotron jumbotron-fluid">
    <div class="container" id="jtext">
      <br><br>
      <br><br>
      <br>
      <h2>Find Your Personal Trainer</h2>
      <p>Your workout is a click away!</p>
      <button type='button' class='btn btn-success btn-lg'>Get Started ></button>
      <!-- A quick workout, a click away -->
      <p class="lead"></p>
    </div>
  </div>
  <img class="heroOverlap" src="/icircle.png">
  <div class="container" id="test">
    <div class="row">
      <h2>Test</h2>
    </div>
  </div>
</template>
