<template name="register">
  <div class="container">
    <div class="row">
    <div class="col-sm-4 center-block col-centered">
      <form class="form-horizontal">
        <fieldset>
          <legend>Register</legend>
          <div class="form-group">
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="Username" name="unameRegister">
            </div>
          </div>
          <div class="form-group" id="pdRegister">
            <div class="col-lg-10">
              <input type="password" class="form-control" placeholder="Password" name="passwordRegister" id="psRegister">
            </div>
          </div>
          <!--TODO: MAKE A BETTER BUTTON -->
          <div class="col-sm-4">
            <p><input type="submit" class='btn btn-primary' value="login"></p>
          </div>
          <div class="col-sm-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="isTrainer" value=""> Personal Trainer?
              </label>
            </div>
          </div>
          <!--<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right"
                  title="Tooltip on right">Tooltip on right</button> -->
        </fieldset>
      </form>
    </div>
  </div>
</div>
</template>
