<template name="profile">
  <div id="profileMain">
  <div id="profileBanner">
  </div>
  <div class="container" id="bioBackground">
  <div class="row" id="firstRow">
    <div class="col-xs-5 col-md-3">
      <img src="{{ppic}}" id="profilePictureOverlay">
    </div>
    <div class="col-xs-7 col-md-5" id="infoOverlay">
      <h1 id="profileBannerText">{{profile.firstName}} {{trunc}}.</h1>
      <h2 id="cityText">{{profile.city}}, {{profile.state}}</h2>
      <!--TODO: Add more info -->
    </div>
    <div class="col-xs-5 col-md-3" id="scheduleOverlay">
      <!--TODO: Hourly rates -->
    </div>
    <div class="row">
      <!--TODO: User Bio -->
    </div>
    <div class="row">
      <!--TODO: Location area -->
    </div>
  </div>
  </div>
  </div>
</template>
